<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>management</title>
  </head>
  <script type="text/javascript">
    window.addEventListener("setMeta", function(e) {
      // console.log(e, e.detail)
      if (document.getElementById('metaImgIndex')) {
        var linkId = document.getElementById('metaImgIndex');
        // console.log(linkId)
        linkId.remove()
        // console.log(linkId)
      }
      var link = document.createElement('link');
      link.type = 'image/x-icon';
      link.rel = 'icon';
      link.setAttribute('id', 'metaImgIndex');
      link.href = e.detail.href;
      document.getElementsByTagName('head')[0].appendChild(link); 
      // console.log(link)
      // console.log('ok')
    }); 
  </script>
  
  <body>
    <noscript>
      <strong>We're sorry but management doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
