/* 全局样式表 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(244, 245, 254, 1);
  opacity: 1;
  /* min-width: 1920px !important; */
  overflow-x: hidden;
}